<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.azteca5.com.mx/img/logo_nav.png" type="image/x-icon">
    <title>Azteca 5</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body onload="getTodaysDate()">
    <nav class="navbar">
        <div>
            <figure class="logo">
                <a href="/">
                    <img src="https://www.azteca5.com.mx/img/logo_nav.png" alt=""/>
                </a>
            </figure>
            <ul class="navbar-options">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/">Precios</a>
                </li>
                <li>
                    <a href="/">Anunciate</a>
                </li>
                <li>
                    <a href="/">Contacto</a>
                </li>
                <li>
                    <a href="/">Quejas</a>
                </li>
            </ul>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/1200px-Search_Icon.svg.png"
                alt="search icon" class="search-icon" />
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="user icon"
                class="user-icon" />
        </div>
    </nav>
    <form action="/create-checkout-session" method="POST">
    <div class="main-section">
        <div class="cards-container">
            <div class="countdown-container">
                <h2 class="title-asientos">Selecciona tus asientos</h2>
                <p id="countdown"></p>
            </div>

            <div class="sala-overall-section">
                <div class="row">
                    <div class="legends-overall">
                        <div class="legend-seats">
                            <img src="{{ url_for('static', filename='Assets/seat-free.png') }}" alt="" />
                            <p>Disponible</p>
                        </div>
                        <div class="legend-seats">
                            <img src="{{ url_for('static', filename='Assets/seat-taken.png') }}" alt="" />
                            <p>Ocupado</p>
                        </div>
                        <div class="legend-seats">
                            <img src="{{ url_for('static', filename='Assets/seat-selected.png') }}" alt="" />
                            <p>Seleccionado</p>
                        </div>
                    </div>
                    <div id="whitey" class="legends-overall">
                        <div id="continue-btn-asiento" class="continue-btn">
                            <button id="continue-horizontal" class="btn-compra" type="submit">Continuar</button>
                        </div>
                    </div>
                </div>
                <div class="sala-main-container">
                    <div class="screen-container">
                        <div class="screen"></div>
                        <p style="text-align: center;">Pantalla</p>
                    </div>
                    <div id="alphabet" class="seat-container">
                        {% set rows = ['A','B','C','D','E','F','G','H','I'] %}
                        {% set count = namespace(value=0) %}
                        {% for i in range(9) %}
                        <ul class="seat-row">
                            <span class="row-letter">{{ rows[i] }}</span>
                            {% for i in range(12) %}
                                {% if showseats[count.value].status == 0 %}
                                    <li class="seat"><img id="{{ showseats[count.value].seat }}" src="{{ url_for('static', filename='Assets/seat-free.png') }}" alt=""/></li>
                                {% else %}
                                    <li class="seat"><img id="{{ showseats[count.value].seat }}" src="{{ url_for('static', filename='Assets/seat-taken.png') }}" alt=""/></li>
                                {% endif %}
                                {% set count.value = count.value + 1 %}
                            {% endfor %}
                            <span class="row-letter">{{ rows[i] }}</span>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="shopping-cart-asientos" class="shopping-cart">
            <h1 class="resumen-compra-h">Resumen de compra</h1>
            <div class="shopping-cart-info">
                <img src="{{ movie.image }}"
                    alt="fotografia pelicula" class="movie-pic-compra" />
                <div class="info">
                    <h3>{{ movie.name }}</h3>
                    <p id="date-vertical">Viernes 14 de Febrero</p>
                    <p>{{ show.time }}</p>
                    <p>Sala {{ show.cinemahall_id }}</p>
                    <input name="show_id" id="show_id" value="{{ show.id }}" hidden/>
                    <p>Español</p>
                    <div class="ticket-container">
                        <div class="ticket-boletos">
                            <p>Boletos</p>
                            <input name="total_tickets_qty" id="total_tickets_qty" value="{{ qty_tickets }}" style="border: none; background:none;" readonly></input>
                            <input name="qty adulto" id="qty adulto" value="{{ qty_adulto }}" hidden></input>
                            <input name="qty senior" id="qty senior" value="{{ qty_senior }}" hidden></input>
                            <input name="qty child" id="qty child" value="{{ qty_child }}" hidden></input>
                        </div>
                        <div class="ticket-asientos">
                            <p>Asientos</p>
                            <input id="what-seats-vertical" name="what-seats-vertical" style="border: none; background:none;" readonly></input>
                        </div>
                    </div>
                </div>
            </div>
            <div id="total-card-vertical" class="total-card">
                <div class="total">
                    <p>Total a pagar</p>
                    <p id="total-price"> {{  total_price }} </p>
                </div>
            </div>
                <div id="continue-btn-vertical" class="continue-btn">
                    <button class="btn-compra" type="submit">Continuar</button>
                </div>
            </div>
        <div class="shopping-cart-horizontal">
            <div class="shopping-cart-info">
                <img src="{{ movie.image }}"
                    alt="fotografia pelicula" class="movie-pic-compra" />
                <div class="info">
                    <h2>{{ movie.name }}</h2>
                    <p id="date-hor">Viernes 14 de Febrero</p>
                    <p>{{ show.time }}</p>
                    <p>Sala {{ show.cinemahall_id }}</p>
                    <p>Español</p>
                    <div class="ticket-container">
                        <div class="ticket-boletos">
                            <p>Boletos</p>
                            <input name="total_tickets_qty" id="total_tickets_qty" value="{{ qty_tickets }}" style="border: none; background:none;" readonly></input>
                        </div>
                        <div class="ticket-asientos">
                            <p>Asientos</p>
                            <input id="what-seats-horizontal" name="what seats horizontal" style="border: none; background:none;" readonly></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <footer>
        <div class="footer-info">
            <div>
                <p>Redes sociales</p>
            </div>
            <div>
                <p>Apps móviles</p>
            </div>
        </div>
        <div class="derechos-reservados">
            <p>©2017 Multicinemas Azteca 5. Todos los derechos reservados</p>
        </div>
    </footer>
</body>
<script>
    var total_tickets = document.getElementById("total_tickets_qty").value;
    const current_seats = [];
    const seats_to_print = [];

    document.addEventListener('click', (e) => {
        let element = e.target;
        let element_id = e.target.id;
        
        if(element.tagName == "IMG" && element.parentElement.nodeName == "LI" && document.getElementById(element_id).src.match("{{ url_for('static', filename='Assets/seat-free.png') }}")){

            if(current_seats.length < total_tickets && !current_seats.includes(element_id)) {
                
                document.getElementById(element_id).src = "{{ url_for('static', filename='Assets/seat-selected.png') }}";
                current_seats.unshift(element_id);
                document.getElementById("what-seats-vertical").value = current_seats;
                document.getElementById("what-seats-horizontal").value = current_seats;
            }else if(current_seats.length == total_tickets && !current_seats.includes(element_id)) {
                document.getElementById(element_id).src = "{{ url_for('static', filename='Assets/seat-selected.png') }}";
                document.getElementById(current_seats[current_seats.length-1]).src = "{{ url_for('static', filename='Assets/seat-free.png') }}";
                current_seats.pop();
                current_seats.unshift(element_id);
                document.getElementById("what-seats-vertical").value = current_seats;
                document.getElementById("what-seats-horizontal").value = current_seats;
            }

            if(current_seats.length == total_tickets) {
                document.getElementById("total-card-vertical").style.display = "block";
                document.getElementById("continue-btn-vertical").style.display = "block";
                document.getElementById("continue-btn-vertical").style.display = "flex";
                document.getElementById("continue-horizontal").style.opacity = 1;
                document.getElementById("continue-horizontal").style.pointerEvents = "auto";
                document.getElementById("what-seats-vertical").value = current_seats;
                document.getElementById("what-seats-horizontal").value = current_seats;
            }
        }
    });

    // Target time
    var countDownDate = new Date().getTime() + 300000;

    // Update the count down every 1 second
    var x = setInterval(function() {

        var now = new Date().getTime();
        var distance = countDownDate - now;
            
        // Time calculations for minutes and seconds
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result
        document.getElementById("countdown").innerHTML = minutes + "m " + seconds + "s ";
            
        // If the count down is over, redirect to error page
        if (distance < 0) {
            clearInterval(x);
            window.location.href = "/error.html";
        }
    }, 1000);

    function getTodaysDate() {
        const today = new Date();
        var day = today.getDay(); // Weekday 0 -Sunday
        var dd = today.getDate(); // Day Number
        var month = today.getMonth()+1; // Month 0 - January

        if(day == 0){
            day = 'Domingo'
        }else if(day == 1){
            day = 'Lunes'
        }else if(day == 2){
            day = 'Martes'
        }else if(day == 3){
            day = 'Miércoles'
        }else if(day == 4){
            day = 'Jueves'
        }else if(day == 5){
            day = 'Viernes'
        }else if(day == 6){
            day = 'Sábado'
        }

        if(month == 1){
            month = 'Enero'
        }else if(month == 2){
            month = 'Febrero'
        }else if(month == 3){
            month = 'Marzo'
        }else if(month == 4){
            month = 'Abril'
        }else if(month == 5){
            month = 'Mayo'
        }else if(month == 6){
            month = 'Junio'
        }else if(month == 7){
            month = 'Julio'
        }else if(month == 8){
            month = 'Agosto'
        }else if(month == 9){
            month = 'Septiembre'
        }else if(month == 10){
            month = 'Octubre'
        }else if(month == 11){
            month = 'Noviembre'
        }else if(month == 12){
            month = 'Diciembre'
        }

        if(dd<10) dd='0'+dd;

        document.getElementById('date-vertical').innerHTML = day + " " + dd + " de " + month;
        document.getElementById('date-hor').innerHTML = day + " " + dd + " de " + month;
    }
</script>

</html>